designs/pages/dynamicData.json
[
    {
        "id": "sd_X2EpnhPavLb4d5J0",
        "type": "tab",
        "createdDate": "2022-07-20T18:59:57.366Z",
        "label": "dynamicData",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "dynamicDataComponent"
    },
    {
        "id": "sd_l5TnKZtZrjxC0Z1S",
        "type": "OnInit",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [
            {
                "key": "data",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                }
            }
        ],
        "localVariables": [],
        "outputVariables": [],
        "functionName": "sd_l5TnKZtZrjxC0Z1S",
        "category": "Lifecycle Events",
        "x": 125,
        "y": 100,
        "wires": [
            [
                "sd_Bf57H4aAsnOZn3r3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dynamicDataComponent"
    },
    {
        "id": "sd_JwIaOfUoojdvuJuc",
        "type": "UseDependency",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "NgxPaginationModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "paginate"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "ngx-pagination",
        "serviceDesignerType": "pages",
        "functionName": "sd_JwIaOfUoojdvuJuc",
        "category": "Function",
        "x": 365,
        "y": 100,
        "wires": [
            [
                "sd_KH9hvwlT5OI7vB4U"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "dynamicDataComponent"
    },
    {
        "id": "sd_Bf57H4aAsnOZn3r3",
        "type": "PageVariables",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "curDate",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "cardArr",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "data",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "p",
                "typedIpValue": {
                    "type": "literal",
                    "value": "1"
                }
            },
            {
                "textIp": "value",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_Bf57H4aAsnOZn3r3",
        "category": "Function",
        "x": 245,
        "y": 100,
        "wires": [
            [
                "sd_JwIaOfUoojdvuJuc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "dynamicDataComponent"
    },
    {
        "id": "sd_DrwvltqBH1RlPSHs",
        "type": "OnChanges",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "common",
        "nodeType": "start",
        "name": "On Changes",
        "functionName": "ngOnChanges",
        "category": "Lifecycle Events",
        "x": 125,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dynamicDataComponent"
    },
    {
        "id": "sd_HUAcT45XpTTaPeG7",
        "type": "Script",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// page.cardArr = bh.changes.data.currentValue.articles;\npage.value=page?.cardArr[bh.input.news];",
        "functionName": "sd_HUAcT45XpTTaPeG7",
        "category": "Function",
        "x": 265,
        "y": 340,
        "wires": [
            [
                "sd_Ikd3xfE2DVjhNeuP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_cSt2brPaeleihhW1",
        "type": "PageStart",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "pages",
        "nodeType": "start",
        "name": "sendDatatNews",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "news",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "sendDatatNews",
        "category": "General",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "sd_HUAcT45XpTTaPeG7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dynamicDataComponent"
    },
    {
        "id": "sd_Ikd3xfE2DVjhNeuP",
        "type": "Storage",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "news"
        },
        "value": {
            "type": "this.page",
            "value": "value"
        },
        "resultMapping": {},
        "functionName": "sd_Ikd3xfE2DVjhNeuP",
        "category": "Storage",
        "x": 385,
        "y": 340,
        "wires": [
            [
                "sd_RjdaAyCf5n19vwVQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_s80QsHaCA0t9cS0R",
        "type": "PageServiceVariables",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "get",
        "globalVariables": [
            {
                "textIp": "data",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "data"
                }
            }
        ],
        "functionName": "sd_s80QsHaCA0t9cS0R",
        "service": {
            "id": "sd_Yp5ppCJw8dBJIphW",
            "type": "tab",
            "createdDate": "2022-07-20T13:03:43.575Z",
            "label": "getnews",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "generateNext": true,
            "serviceName": "getnews",
            "relativeParentPath": "",
            "_def": {
                "defaults": {
                    "label": {
                        "value": ""
                    },
                    "disabled": {
                        "value": false
                    },
                    "info": {
                        "value": ""
                    }
                }
            }
        },
        "serviceImportPath": "app/sd-services/getnews",
        "category": "Function",
        "x": 245,
        "y": 220,
        "wires": [
            [
                "sd_DVRWDT0gZ2teof6o"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_DVRWDT0gZ2teof6o",
        "type": "Script",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.cardArr = page.data?.articles;\n\nif (page.cardArr?.length > 0) {\n    page.cardArr.forEach(item => {\n        // console.log('data..............', item.urlToImage);\n        item['image'] = item.urlToImage;\n        item['thumbImage'] = item.urlToImage;\n        // delete item.urlToImage;\n    });\n}",
        "functionName": "sd_DVRWDT0gZ2teof6o",
        "category": "Function",
        "x": 365,
        "y": 220,
        "wires": [
            [
                "sd_dhkQ7pCGKijuU8RI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_evvLMf7IcCLzd4GA",
        "type": "PageCallService",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_Yp5ppCJw8dBJIphW",
            "type": "tab",
            "createdDate": "2022-07-20T13:03:43.575Z",
            "label": "getnews",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_kKX5NEGkyoMOe1sl",
            "flowName": "getBycountry"
        },
        "inputVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "cardArr",
                "mapVarName": "result",
                "localVar": "this.page.cardArr"
            }
        ],
        "serviceImportPath": "app/sd-services/getnews",
        "startName": "getBycountry",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_evvLMf7IcCLzd4GA",
        "category": "General",
        "x": 445,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_LGAhOAzRBd3mykPl",
        "type": "DoCheck",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "common",
        "nodeType": "start",
        "name": "Do Check",
        "functionName": "ngDoCheck",
        "category": "Lifecycle Events",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "sd_s80QsHaCA0t9cS0R"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dynamicDataComponent"
    },
    {
        "id": "sd_RjdaAyCf5n19vwVQ",
        "type": "Navigation",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home/news",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_RjdaAyCf5n19vwVQ",
        "category": "Navigation",
        "x": 465,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_KH9hvwlT5OI7vB4U",
        "type": "ViewPicker",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "str",
                    "value": "nav"
                },
                "defaultValue": "",
                "isViewChildren": false
            }
        ],
        "functionName": "sd_KH9hvwlT5OI7vB4U",
        "category": "Function",
        "x": 485,
        "y": 100,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_dhkQ7pCGKijuU8RI",
        "type": "Script",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.fistCard=page?.cardArr[0];\n",
        "functionName": "sd_dhkQ7pCGKijuU8RI",
        "category": "Function",
        "x": 465,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Cf2IrggYN1bhTMT0",
        "type": "OnDestroy",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_Cf2IrggYN1bhTMT0",
        "category": "Lifecycle Events",
        "x": 200,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dynamicDataComponent"
    },
    {
        "id": "sd_9WJ5H8QcsKqifO0Y",
        "type": "Log",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.input",
        "functionName": "sd_9WJ5H8QcsKqifO0Y",
        "category": "General",
        "x": 305,
        "y": 420,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh.input",
                "value": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true
    }
]
