designs/pages/dynamicData.json
[
    {
        "id": "sd_X2EpnhPavLb4d5J0",
        "type": "tab",
        "createdDate": "2022-07-20T18:59:57.366Z",
        "label": "dynamicData",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "dynamicDataComponent"
    },
    {
        "id": "sd_l5TnKZtZrjxC0Z1S",
        "type": "OnInit",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [
            {
                "key": "data",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                }
            }
        ],
        "localVariables": [],
        "outputVariables": [],
        "functionName": "sd_l5TnKZtZrjxC0Z1S",
        "category": "Lifecycle Events",
        "x": 125,
        "y": 100,
        "wires": [
            [
                "sd_Bf57H4aAsnOZn3r3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dynamicDataComponent"
    },
    {
        "id": "sd_JwIaOfUoojdvuJuc",
        "type": "UseDependency",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "NgxPaginationModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "paginate"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "ngx-pagination",
        "serviceDesignerType": "pages",
        "functionName": "sd_JwIaOfUoojdvuJuc",
        "category": "Function",
        "x": 365,
        "y": 100,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "dynamicDataComponent"
    },
    {
        "id": "sd_Bf57H4aAsnOZn3r3",
        "type": "PageVariables",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "curDate",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "cardArr",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "data",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "p",
                "typedIpValue": {
                    "type": "literal",
                    "value": "1"
                }
            }
        ],
        "functionName": "sd_Bf57H4aAsnOZn3r3",
        "category": "Function",
        "x": 245,
        "y": 100,
        "wires": [
            [
                "sd_JwIaOfUoojdvuJuc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_DrwvltqBH1RlPSHs",
        "type": "OnChanges",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "common",
        "nodeType": "start",
        "name": "On Changes",
        "functionName": "ngOnChanges",
        "category": "Lifecycle Events",
        "x": 125,
        "y": 220,
        "wires": [
            [
                "sd_HUAcT45XpTTaPeG7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dynamicDataComponent"
    },
    {
        "id": "sd_HUAcT45XpTTaPeG7",
        "type": "Script",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.cardArr = bh.changes.data.currentValue.articles;",
        "functionName": "sd_HUAcT45XpTTaPeG7",
        "category": "Function",
        "x": 230,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_cSt2brPaeleihhW1",
        "type": "PageStart",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "pages",
        "nodeType": "start",
        "name": "sendDatatNews",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "news",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "sendDatatNews",
        "category": "General",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "sd_Ikd3xfE2DVjhNeuP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dynamicDataComponent"
    },
    {
        "id": "sd_Ikd3xfE2DVjhNeuP",
        "type": "Storage",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "news"
        },
        "value": {
            "type": "bh.input",
            "value": "news"
        },
        "resultMapping": {},
        "functionName": "sd_Ikd3xfE2DVjhNeuP",
        "category": "Storage",
        "x": 365,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_HNGtyg35L2JzrYib",
        "type": "Log",
        "z": "sd_X2EpnhPavLb4d5J0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.input.news",
        "functionName": "sd_HNGtyg35L2JzrYib",
        "category": "General",
        "x": 165,
        "y": 440,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh.input",
                "value": "news",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true
    }
]
