designs/pages/home.json
[
    {
        "id": "sd_tZue59qask1q2rWD",
        "type": "tab",
        "createdDate": "2022-07-20T07:46:02.433Z",
        "label": "home",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_EZ7XKtmJgMfQfV4I",
        "type": "OnInit",
        "z": "sd_tZue59qask1q2rWD",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "functionName": "sd_EZ7XKtmJgMfQfV4I",
        "category": "Lifecycle Events",
        "x": 145,
        "y": 120,
        "wires": [
            [
                "sd_tlThNUO1Bc3p26X8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_tlThNUO1Bc3p26X8",
        "type": "PageVariables",
        "z": "sd_tZue59qask1q2rWD",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "curDate",
                "typedIpValue": {
                    "type": "literal",
                    "value": "new Date()"
                }
            },
            {
                "textIp": "cardArr",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "data",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "p",
                "typedIpValue": {
                    "type": "literal",
                    "value": "1"
                }
            },
            {
                "textIp": "navigation",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "isViewNews",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "sentData",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_tlThNUO1Bc3p26X8",
        "category": "Function",
        "x": 245,
        "y": 120,
        "wires": [
            [
                "sd_jP92Fh1TgA7O8gXX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_EBXWXYbK1Uc9wNvD",
        "type": "PageStart",
        "z": "sd_tZue59qask1q2rWD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "sendCategory",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "catergory",
                "defaultValue": {
                    "type": "str",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "sendCategory",
        "category": "General",
        "x": 145,
        "y": 220,
        "wires": [
            [
                "sd_CsPwwoVrTeWHy68I",
                "sd_RSZFKAMWbBRbRwWr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_CsPwwoVrTeWHy68I",
        "type": "PageCallService",
        "z": "sd_tZue59qask1q2rWD",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_Yp5ppCJw8dBJIphW",
            "type": "tab",
            "createdDate": "2022-07-20T13:03:43.575Z",
            "label": "getnews",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_8wyjtmpJHzt1CcQL",
            "flowName": "getNewsCatergory"
        },
        "inputVariables": [
            {
                "key": "catergory",
                "map": true,
                "valueType": "bh.input",
                "value": "catergory"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "data",
                "mapVarName": "result",
                "localVar": "this.page.data"
            }
        ],
        "serviceImportPath": "app/sd-services/getnews",
        "startName": "getNewsCatergory",
        "inputParams": [
            "bh.input.catergory"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_CsPwwoVrTeWHy68I",
        "category": "General",
        "x": 305,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jP92Fh1TgA7O8gXX",
        "type": "UseDependency",
        "z": "sd_tZue59qask1q2rWD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "NgxPaginationModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "paginate"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "ngx-pagination",
        "serviceDesignerType": "pages",
        "functionName": "sd_jP92Fh1TgA7O8gXX",
        "category": "Function",
        "x": 365,
        "y": 120,
        "wires": [
            [
                "sd_nSLC9GkujHSkJEuk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_nSLC9GkujHSkJEuk",
        "type": "Script",
        "z": "sd_tZue59qask1q2rWD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.navigation=[\n    {\n    name:\"Home\",\n    category:\"all\",\n    icon:\"home\"\n},{\n    name:\"Business\",\n    category:\"business\",\n    icon:\"work_outline\"\n},{\n    name:\"Entertainment\",\n    category:\"entertainment\",\n    icon:\"sports_esports\"\n},{\n    name:\"General\",\n    category:\"general\",\n    icon:\"people\"\n},{\n    name:\"Health\",\n    category:\"health\",\n    icon:\"home\"\n},{\n    name:\"Science\",\n    category:\"science\",\n    icon:\"home\"\n},{\n    name:\"Sports\",\n    category:\"sports\",\n    icon:\"sports_gymnastics\"\n},{\n    name:\"Technology\",\n    category:\"technology\",\n    icon:\"devices\"\n}\n]\n",
        "functionName": "sd_nSLC9GkujHSkJEuk",
        "category": "Function",
        "x": 485,
        "y": 120,
        "wires": [
            [
                "sd_usU7Pl16gtp4nctP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_usU7Pl16gtp4nctP",
        "type": "PageCallService",
        "z": "sd_tZue59qask1q2rWD",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_Yp5ppCJw8dBJIphW",
            "type": "tab",
            "createdDate": "2022-07-20T13:03:43.575Z",
            "label": "getnews",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_kKX5NEGkyoMOe1sl",
            "flowName": "getBycountry"
        },
        "inputVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "data",
                "mapVarName": "result",
                "localVar": "this.page.data"
            }
        ],
        "serviceImportPath": "app/sd-services/getnews",
        "startName": "getBycountry",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_usU7Pl16gtp4nctP",
        "category": "General",
        "x": 605,
        "y": 120,
        "wires": [
            [
                "sd_nm1GYm6l6cGfGvzy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Q5VbyPtW6o1Nh2j9",
        "type": "Storage",
        "z": "sd_tZue59qask1q2rWD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "news"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "sentData"
        },
        "functionName": "sd_Q5VbyPtW6o1Nh2j9",
        "category": "Storage",
        "x": 205,
        "y": 400,
        "wires": [
            [
                "sd_M3w2QdkpKCIvehqi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_M3w2QdkpKCIvehqi",
        "type": "PageSwitch",
        "z": "sd_tZue59qask1q2rWD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "sentData",
        "propertyType": "this.page",
        "propertyGv": "this.page.sentData",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_M3w2QdkpKCIvehqi",
        "category": "Function",
        "x": 305,
        "y": 400,
        "wires": [
            [
                "sd_WxhjNOPjGhXWoGmB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_WxhjNOPjGhXWoGmB",
        "type": "Script",
        "z": "sd_tZue59qask1q2rWD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.isViewNews=true;",
        "functionName": "sd_WxhjNOPjGhXWoGmB",
        "category": "Function",
        "x": 425,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_A6kfTLkrq4s8xI0u",
        "type": "DoCheck",
        "z": "sd_tZue59qask1q2rWD",
        "viewType": "common",
        "nodeType": "start",
        "name": "Do Check",
        "functionName": "ngDoCheck",
        "category": "Lifecycle Events",
        "x": 105,
        "y": 400,
        "wires": [
            [
                "sd_Q5VbyPtW6o1Nh2j9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_uwzsBe4DScwrstZE",
        "type": "PageStart",
        "z": "sd_tZue59qask1q2rWD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "back",
        "category": "General",
        "x": 125,
        "y": 480,
        "wires": [
            [
                "sd_BuySscH0gnGueuxA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_8hOK4ZwyQTLYSd8J",
        "type": "Script",
        "z": "sd_tZue59qask1q2rWD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.isViewNews=false;",
        "functionName": "sd_8hOK4ZwyQTLYSd8J",
        "category": "Function",
        "x": 385,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_BuySscH0gnGueuxA",
        "type": "Storage",
        "z": "sd_tZue59qask1q2rWD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "clear",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {},
        "value": {},
        "resultMapping": {},
        "functionName": "sd_BuySscH0gnGueuxA",
        "category": "Storage",
        "x": 245,
        "y": 480,
        "wires": [
            [
                "sd_8hOK4ZwyQTLYSd8J"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_nm1GYm6l6cGfGvzy",
        "type": "Script",
        "z": "sd_tZue59qask1q2rWD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.isViewNews=false;",
        "functionName": "sd_nm1GYm6l6cGfGvzy",
        "category": "Function",
        "x": 725,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_RSZFKAMWbBRbRwWr",
        "type": "PageCallService",
        "z": "sd_tZue59qask1q2rWD",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_tZue59qask1q2rWD",
            "type": "tab",
            "createdDate": "2022-07-20T07:46:02.433Z",
            "label": "home",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_uwzsBe4DScwrstZE",
            "flowName": "back"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./home",
        "startName": "back",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_RSZFKAMWbBRbRwWr",
        "category": "General",
        "x": 320,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
